{% extends "template.html" %}
{% block content %}
	<div class="jumbotron">
		<h1>Home</h1>
		<p>Flask is a lightweight web application framework written in Python and based on the WSGI toolkit and Jinja2 template engine. It is BSD licensed.

Flask takes the flexible Python programming language and provides a simple template for web development. Once imported into Python, Flask can be used to save time building web applications.[citation needed] An example of an application that is powered by the Flask framework is the community web page for Flask.[2]

Flask is called a microframework because it keeps the core simple but extensible. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. However, Flask supports extensions, that can add application features as if they were implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling, various open authentication technologies, and more.Flask is a lightweight web application framework written in Python and based on the WSGI toolkit and Jinja2 template engine. It is BSD licensed.

Flask takes the flexible Python programming language and provides a simple template for web development. Once imported into Python, Flask can be used to save time building web applications.[citation needed] An example of an application that is powered by the Flask framework is the community web page for Flask.[2]

Flask is called a microframework because it keeps the core simple but extensible. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. However, Flask supports extensions, that can add application features as if they were implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling, various open authentication technologies, and more.</p>

	</div>
{% endblock %}
