<form action="/~wozniak2/mail_app/send" method="POST">
	<div class="form-group">
		<label for="toUser" class="control-label">To: </label>
		<input type="text" class="form_control" id="toUser" name="to_user">
	</div>
	<div class="form-group">
		<label for="tit" class="control-label">Title: </label>
		<input type="text" class="form_control" id="tit" name="title">
	</div>
	<div class="form-group">
		<label for="message-text" class="control-label">Message: </label>
		<textarea class="form-control" id="message-text" name=content></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-lg">Send</button>
	</div>
</form>
